@import url('https://fonts.googleapis.com/css?family=Aldrich');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

h1 h1,h2,h3,h4,h5,h6, div {
  font-family: 'Aldrich', sans-serif !important;
  letter-spacing: 0.05em !important;
  color: #FFF !important;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}
p, li, span, input, label {
  font-family: 'Exo 2', sans-serif !important;
  letter-spacing: 0.1em !important;
  word-spacing: 0.01em !important;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    /*background:  url(https://media.giphy.com/media/Qgx8fFTysBHYQ/giphy.gif) no-repeat center center fixed;*/
    /*background: url(https://media.giphy.com/media/sNz7ODDP6lsRy/giphy.gif) no-repeat center center fixed;*/
    background: url(https://media.giphy.com/media/1pmatQ3LcP5XFYxSWF/giphy.gif) no-repeat center center fixed;
    height: 100%;
    background-size: cover;
}
body {
    margin: 0 !important;
  	padding: 0 !important;
  	border: 0 !important;
    min-height: 100%;
    background-size: cover;
    background: rgba(0,0,0,.5) !important;
}
#root {
  min-height: 100%;
}
.MuiButton-contained-188 {
  box-shadow: none !important;
}

.white, .white h1, .white h2, .white h3, .white h4, .white h5, .white h6, .white p, .white span, .white input, .white label, .white li {
  color: #fff !important;
}
.white fieldset {
  border-color: #fff !important;
}
.challengeMap {
  width: auto !important;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.screen {
  padding: 5% 0;
  text-align: center;
  color: #fff !important;
  vertical-align: middle !important;
}
.screen h1, .screen h2, .screen h3, .screen h4, .screen h5, .screen h6, .screen p, .screen span {
  color: #fff !important;
}
.padder {
  padding: 20px 0 !important;
}
.center {
  text-align: center !important;
  margin: auto !important;
}
.logo {
  width: 50%;
  max-width: 200px;
  /*-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;*/
    z-index: -100 !important;
}
h2 {
  z-index: 1;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.chat-window {
  padding: 0 10px;
}
.chat-window li {
  list-style-type: none;
}
.chat-messages {
  /*color: #fff;
  background-color: #777;*/
  max-height: 50%;
  padding: 1%;
  margin: auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  height : 45vh;
  overflow: scroll;
  overflow-x: hidden;
  color: #fff !important;
  background-color: rgba(0,0,0,.5);

}
/*chat badge*/
.chat-badge span {
  position: relative !important;
  right: -15px !important;
}
[class^="MuiExpansionPanel-disabled"]{
  color: #fff !important;
}
#message-id {
  font-size: 10px;
}

/******--------------------dark theme expansion panels?---------------------*/
.expansion-panels .MuiPaper-root-10 {
  background-color: transparent !important;
  box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.2), 0px 1px 1px 0px rgba(255, 255, 255, 0.14), 0px 2px 1px -1px rgba(255, 255, 255, 0.12)
}
.expansion-panels .MuiPaper-root-10 *{
  color: #fff !important;
}
.expansion-panels .MuiSvgIcon-root-430 {
  border: 1px solid #fff;
  border-radius: 100px !important;
}
.MuiButton-contained-188 {
  box-shadow: none !important;
}
.expansion-panels .challenge-description {
  padding: 10px;
}
.expansion-panels .challenge-description *{
  line-height: 2em;
}

.chat-messages::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
}
.chat-messages::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.distance-badge {
  padding-left: 10%;
  width: 50% !important;
}
.image-wrapper {
  position: relative;
  width: 100%;
}
.image-wrapper img {
  width: 100% !important;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* opacity: .5;
  transition: .5s ease;*/
  background-color: rgba(0,0,0,0.25);
  background-repeat: no-repeat;
   background-size: 30%;
   /*https://pixelspeechbubble.com/*/
   background-image: url(https://i.pixelspeechbubble.com/la3cnF2l/pixel-speech-bubble.gif);
}
.overlay-text {
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*-----------------transparent dialogues--------------------------*/
div[class^='MuiDialog-paper'], div[class*=' MuiDialog-paper'] {
  background: rgba(0,0,0,.9) !important;
  border: 1px solid #aaa;
}
div[class^='MuiDialog-paper'] *, div[class*=' MuiDialog-paper'] *{
  color: #fff !important;
}

.image {
  border: 1px solid #fff !important;
  border-radius: 5px !important;
}
/*fixing the camera buttons inline*/
.bump-right {
  margin-right: 25px !important;
}
.map-wrapper * {
  color: #000 !important;
}
